<div class="p-5">
    <div class="container w-50 text-center">
        <h1>UPDATE PRODUCT</h1>
        <form (ngSubmit)="updateProduct(updateproductform)" #updateproductform="ngForm" action="">
            <input [(ngModel)]="productdata.id" id="pid" name="p1" class="form-control mt-2 p-2 id" placeholder="product id" type="text">
            <input [(ngModel)]="productdata.productName" id="pname" name="p2" class="form-control mt-2 p-2 id" placeholder="product Name" type="text">
            <input [(ngModel)]="productdata.category" id="cid" name="p3" class="form-control mt-2 p-2 id" placeholder="Category id" type="text">
            <input [(ngModel)]="productdata.description" id="did" name="p4" class="form-control mt-2 p-2 id" placeholder="Description id" type="text">
            <input [(ngModel)]="productdata.price" id="priceid" name="p7" class="form-control mt-2 p-2 id" placeholder="price" type="text">

                <input [(ngModel)]="productdata.isAvailable" id="avid" name="p5" class="form-control mt-2 p-2 id" placeholder="instock true/false"
                    type="text">
                <input [(ngModel)]="productdata.productImage" id="imid" name="p6" class="form-control mt-2 p-2 id" placeholder="product image" type="text">
                <br>
                <!-- <input class="form-control mt-2 p-2ct id" placeholder="product id" type="text">
            <input class="form-control mt-2 p-2ct id" placeholder="product id" type="text">
            <input class="form-control mt-2 p-2ct id" placeholder="product id" type="text">
            <inputclass="form-control mt-2 p-2ct id" placeholder="product id" type="text"> -->
                <button class="btn btn-outline-dark dark">UPDATE</button>
        </form>
    </div>
</div>