<footer class="py-5 bg-dark ">
    <!-- <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div> -->
    <div class="row">
        <div class=" col-2 ">
            <h5 style="font-weight: 400;
 font-style: normal;
 font-size: 12px;
 color: #999;
 letter-spacing: 1px;
 font-variant-ligatures: none;
 text-transform: uppercase; margin-left: 100px;">EXCLUSIVE SERVICES</h5> <br>
            <p class="text-white" style="font-weight: 400;
 font-style: normal;
 font-size: 12px;
 letter-spacing: 1px;
 font-variant-ligatures: none;
  margin-left: 100px;"> <i class="fa-solid fa-gift"></i> Rever Services <br> <br>
                <i class="fa-solid fa-chair"></i> Rever Osteria Beverly Hills da Massimo Bottura <br> <br>
                <i class="fa-solid fa-gift"></i> Book An Appointment <br> <br>
                <i class="fa-solid fa-envelope"></i> Collect In-Store
            </p>
        </div>
        <div class="col-2">
            <h5 style="font-weight: 400;
            font-style: normal;
            font-size: 12px;
            color: #999;
            letter-spacing: 1px;
            font-variant-ligatures: none;
            text-transform: uppercase; margin-left: 100px;">NEED HELP?</h5> <br>

            <p class="text-white" style="font-weight: 400;
font-style: normal;
font-size: 12px;

letter-spacing: 1px;
font-variant-ligatures: none;
 margin-left: 100px;">Contact Us <br> <br>
                Shipping Services <br> <br>
                Payment Options <br> <br>
                Returns & Exchanges <br> <br>
                Product Care <br> <br>
                FAQs <br> <br>
                Unsubscribe <br> <br>
                Sitemap</p>
        </div>
        <div class=" col-2">
            <h5 style="font-weight: 400;
            font-style: normal;
            font-size: 12px;
            color: #999;
            letter-spacing: 1px;
            font-variant-ligatures: none;
            text-transform: uppercase; margin-left: 100px;">THE COMPANY</h5> <br>

            <p class="text-white" style="font-weight: 400;
font-style: normal;
font-size: 12px;
letter-spacing: 1px;
font-variant-ligatures: none;
margin-left: 100px;">About Rever <br><br>
                Rever Equilibrium <br><br>
                Code of Ethics <br><br>
                Rever Garden <br><br>
                Careers <br><br>
                Legal <br><br>
                Privacy & Cookies <br><br>
                Corporate Information</p>
        </div>
        <div class=" col-2">
            <h5 style="font-weight: 400;
            font-style: normal;
            font-size: 12px;
            color: #999;
            letter-spacing: 1px;
            font-variant-ligatures: none;
            text-transform: uppercase; margin-left: 100px;">FIND US ON</h5> <br>

            <p class="text-white" style="font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999;
    letter-spacing: 1px;
    font-variant-ligatures: none;
    text-transform: uppercase; margin-left: 100px;"><i class="fa-brands fa-facebook-f"></i> Facebook <br><br>
                <i class="fa-brands fa-twitter"></i> Twitter <br><br>
                <i class="fa-brands fa-instagram"></i> Instagram <br><br>
                <i class="fa-brands fa-youtube"></i> YouTube <br><br>
                <i class="fa-solid fa-podcast"></i> Rever Podcast <br><br>
                <i class="fa-brands fa-snapchat"></i> Snapchat
            </p>
        </div>
        <div class=" col-3">
            <h5 style="font-weight: 400;
            font-style: normal;
            font-size: 12px;
            color: #999;
            letter-spacing: 1px;
            font-variant-ligatures: none;
            text-transform: uppercase; margin-left: 100px;">SIGN UP FOR Rever UPDATES </h5> <br>

            <p class="text-white" style="font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 1px;
    font-variant-ligatures: none;
     margin-left: 100px;"> By entering your email address below, you consent to receiving our newsletter with access to
                our latest
                collections, events and initiatives. More details on this are provided in our Privacy Policy
            </p>
            <form action="">
                <input class="bg-dark" type="text" style="margin-left: 100px;" placeholder="Email Address">
            </form> <br>
            <p style="font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999;
    letter-spacing: 1px;
    font-variant-ligatures: none;
    text-transform: uppercase; margin-left: 100px;">STORE LOCATOR</p> <br>
            <form action="">
                <input class="bg-dark" type="text" style="margin-left: 100px;" placeholder="city,Region,Country">
            </form>

        </div> <br><br>
        <div class="container ">
            <p class="m-0   text-center text-white"> ©2016 - 2020 Rever S.p.A. - All rights reserved. SIAE LICENCE #
                2294/I/1936 and 5647/I/1936</p>
        </div>


    </div>
</footer>